*{
    
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
 
}


.sidenav{
    border: solid 1px red;
    height: 100%;
    background: #111;
    
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    
    padding-top: 60px;
    overflow-x: hidden;
    transition: 0.5s;
    width: 0;
    
}

.sidenav a{
   
    text-decoration: none;
    display: block;
    width: 250px;
    color: #fff;
    padding: 8px;
    font-size: 20px;
    
}

.sidenav a:hover{
    color:forestgreen;
}

.btnClose{
    text-align: right;
    position: absolute;
    top:0;
    right: 36px;
    font-size: 23px;    
}


